<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="normalize.css")
        link(rel="stylesheet", href="Mystyle.css")
        title TodoList
    body
        .container
            .row
                label(for="Ctodo" id="CtodoL") 代辦事項
                input(type="text" id="CtodoI")
                button.add(id="CtodoB") 新增
            .row
                ul.list(id="list")
            .row.clearfix
                .left
                    |還剩下
                    span(id="count") 0
                    |筆
                .right 
                    button.clearAll(id="clearAll") 清除所有資料
            .row
                ul.finished(id="finished")
        script(type="text/javascript" src="main.js")
